/*
 *= require_self
 *= require_tree .
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
// @import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";


img.gravatar {
	border-radius: 100px;
	// padding: 0 4px;
}

body {
	padding-top: 61px;
	background: image-url('textures/xv.png') repeat;
}


textarea:invalid,
input:invalid {
	box-shadow: 0 10px 10px rgba(220,13,23, .5);
}
body > .navbar {
	margin-bottom: 0px;
}
footer {
	margin: 10px 0;

	p > span {
		padding: 20px;
	}
}

.hover_pointer:hover {
	cursor: pointer;
}

.modal-dialog {
	width: 80%;
}

// Drag-and-Drop file upload coolness.
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    // width: 200px;
    // height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.drop-box-dragover {
    border: 5px dashed blue;
}


// li.selected:hover,
// tr.selected:hover,
li.selected,
tbody tr.selected {
	background-color: #a7c6d8;
	-webkit-transition:	all .2s ease-out;
	-moz-transition:	all .2s ease-out;
	-o-transition:		all .2s ease-out;
	transition:			all .2s ease-out;
}
li,
tr {
	-webkit-transition:	all .2s ease-out;
	-moz-transition:	all .2s ease-out;
	-o-transition:		all .2s ease-out;
	transition:			all .2s ease-out;
}
li:hover,
tbody tr:hover {
}
li:hover:not(.selected),
tbody tr:hover:not(.selected) {
	// cursor: pointer;
	background-color: #c7e6f8;
	-webkit-transition:	all .2s ease-out;
	-moz-transition:	all .2s ease-out;
	-o-transition:		all .2s ease-out;
	transition:			all .2s ease-out;
}
